
<div class="row">
  <div class="search-wrapper col-center col-xs-6">
    <div class="logo">
      <h1 class="title">AllerGi</h1>
    </div>
    <div class="oct">
      <div class="search">
        <form class="form-inline input" action="/search" method="">
          <div class="form-group">
            <div class="input-group input-text">
              <input class="form-control search-field" type="text" name="search_field" value="">
              <span class="input-group-btn input-button">
                 <button class="btn btn-default search-button" type="submit" name=""><i class="fa fa-medkit fa-1x"></i></button>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="allergens1 icon-hover">
        <label for="">Milk</label>
        <form class="" action="/search/milk" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens2 icon-hover">
        <label for="">Eggs</label>
        <form class="" action="/search/eggs" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens3 icon-hover">
        <label for="">Fish</label>
        <form class="" action="/search/fish" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens4 icon-hover">
        <label for="">Shellfish</label>
        <form class="" action="/search/shellfish" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens5 icon-hover">
        <label for="">Tree Nuts</label>
        <form class="" action="/search/treenuts" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens6 icon-hover">
        <label for="">Peanuts</label>
        <form class="" action="/search/peanuts" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
      <div class="allergens7 icon-hover">
        <label for="">Wheat</label>
        <form class="" action="/search/" method="">

        </form>
        <button class="btn btn-default">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="allergens8 icon-hover">
        <label for="">Soya</label>
        <form class="" action="/search/soya" method="">
          <button class="btn btn-default">
            <i class="fa fa-twitter"></i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <% if @found != nil %>
      <ul>
        <% @found.each do |f| %>
          <li>
            <h3> <a href="/restaurant/<%=f.id%>"><%= f.name %></h3></a>
            <p><%= f.location %></p>
            <p><%= f.phone %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
